<div class = "editor">
<h4>Редактирование СТАТЬИ (НОВОСТИ)</h4>
<%= render 'form' %>

<div style="clear:both;">
	<%= link_to 'Показать', @article %> |
	<%= link_to 'Список', articles_path %>
</div>
</div>