<div class = "editor">
<% if editor_signed_in? %>
	<%= render 'form' %>

<div style="clear:both;">
	<%= link_to 'Показать', @reclam %> |
	<%= link_to 'Список', reclams_path %>
</div>
<% else %>
    <h3 style = "text-align: center; color: #FF0000;"> Перейдите в режим "Админ".  </h3 >
<% end %>
</div>