<footer id="footer_block">
				<p>&copy КП НГПГ МО "Южная правда". Все права зарезервированы. При копировании материалов ссылка обязательна.</p>
				<p>E-mail редакции: <a href ="mailto:up@email.com.ua">up@email.com.ua</a></p>
				<a class = "darklink" href="mailto: sergugol@gmail.com">Администратор сайта: <u>sergugol@gmail.com</u> </a>
</footer> <!-- end .footer -->