<footer id="footer_block">
				<p>&copy КП НГПГ МО "Южная правда".&nbsp Все права зарезервированы.&nbsp При копировании материалов ссылка обязательна.</br>
				E-mail редакции: <a style= "color: #8FF; font-weight: bold;" href ="mailto:up@email.com.ua">up@email.com.ua</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				Администратор сайта: <a style= "color: #8FF; font-weight: bold;" href="mailto: sergugol@gmail.com">sergugol@gmail.com</a></p>
</footer> <!-- end .footer -->