/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* START_HIGHLIGHT */
$backcolor: #FFD; /*#446;*/

/* set UP */
$c1: #000000; /*black*/
$c2: #808080; /*gray*/
$c3: #205DB0; /*dark-blue was:2222AA*/ 
$c4: #BAE0F9; /* sky */
$c5: #CC2222; /*red*/ 
$c6: #FFFFFF; /*white*/
$c7: #EEEEEE; /*light-gray*/
$c8: #3C5AAF; /*blue-UP was:3355AA*/

body {

background-color: #FFF; /* #696 */

	#outer {
		position: relative;
		margin-top: 16px; 	/* 5px */
		width: 992px; 		/* 995px */
		border: 0px;  		/* 1px */
		background-color: #FFFFFF;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 3px 3px 12px 3px $c2 + #222222;

	
		#header_block {
			position: relative;
			height: 160px; /*145*/
			width: 992px; /*995*/
			padding: 0px;  /* 10*/
			margin: 0px;
			background: #c2; /* #EEE */;
		    /*border-bottom: 0px solid;
		    border-color: $c3 + #113300;*/
	/*?*/	display: block;
	      		
		  	#date {
		  		position: absolute;
		  		left: 532px;
		  		top: 35px;
		  		line-height: 100%;
				color: $c5;
				/* background-color: $c2;  #557;*/
				p {
					margin: 0px 0px; 
					padding-top: 0px;
					text-align: left;
					font-size: 14px;
					font-family: "Playfair Display", serif;
				}
			}	  

			#time {
		  		position: absolute;
		  		left: 532px;
		  		top: 90px;
		  		width: 50px;
		  		height: 30px;
		  		line-height: 100%;
		  		margin-left: 0px;
		  		color: $c5;
				/* background-color: $c2;  #557; */
				p {
					margin: 0px 0px; 
					padding-top: 0px;
					text-align: left;
					font-size: 14px;
					font-family: "Playfair Display", serif;
					font-weight: bold;
				}
			}

			#logo {
				position: absolute;
				top: 23px;    /* 40px */
				left: 32px;   /* 10px */
				/* height: 55px; */
				padding-left: 0px;

				img {width: 492px;  /* 615px */
					height: 92px;	/*  72px */
				}
			}

			#name {
				color: $c1;
				position: absolute;
				left: 31px;
				top: 19px;
				width: 492px;
		  		height: 24px;
				margin: 0px;
				padding: 0px;
				text-align: center;
				
				p {
					font-family: "Playfair Display", serif;
					text-align: center;
					letter-spacing: 0px;
					font-stretch: expanded;
					/*ultra-condensed | extra-condensed | condensed | semi-condensed | normal | semi-expanded | expanded | extra-expanded | ultra-expanded*/
					/*font-size-adjust*/
					font-size: 14px;
					vertical-align: top;
					margin-top: 0;
					margin-bottom: 0;					
					margin-left: auto;
					margin-right: auto;					
				}
			}

 			#topic_band {
 				position: absolute; 
 				top: 123px; 
 				left: 32px; 
 				width: 928px; 
 				height: 24px; 
 				background-color: $c3; /*- #333355;*/
 			}

			#topic_menu_bar {
				position: absolute;
				left: 36px;
				top: 111px;
				ul { padding: 0; line-height: 100%;}
				li { display: inline; padding: 0 6px; border-right: 1px solid $c6; }
				li:first-child { padding-left: 0; }
				li:last-child { padding-right: 0; border-right-width: 0; }
				a:link { font-size: 14px; font-style: bold;  text-decoration: none; color: $c6; }
				a: { color: $c6;  text-decoration : none; font-style: bold; } 
				a:visited { color: $c6 - #333333; text-decoration: none; text-transform: uppercase; } /* #55C */
				a:hover, a:active, a:focus {color: $c6 - #000088; text-decoration: none; }
				/*background-color: $c4;*/
			}

			
			#action_menu_bar1 {
				position: absolute;
				right: 32px;
				top: 26px;
				padding-top: 2px;
				ul { padding : 0px; line-height : 0px; margin: 0;}
				li { display : inline; padding : 0 5px; border-right : 1px solid $c2; }
				li:first-child { padding-left : 0; }
				li:last-child { padding-right : 0; border-right-width : 0; }
				a: {font-family: verdana, arial, helvetica, sans-serif; color : black; }
				a:link { font-size: 14px; color : black; }
				a:visited { color : gray; font-weight : bold; text-decoration : none; text-transform : uppercase; }
				a:hover, a:active, a:focus { background-color : $c2; color : blue; text-decoration : none; }
			}
			
			#action_menu_bar2 {
				position: absolute;
				right: 32px;
				top: 90px;
				ul { padding : 0 4px 0 4px; line-height : 0px; }
				li { display : inline; padding : 0 4px; border-right : 1px solid $c5; }
				li:first-child { padding-left : 0; }
				li:last-child { padding-right : 0; border-right-width : 0; }
				a: { color: #FFF - #222; }
				a:link { font-size: 14px; }
				a:visited { color : #FFF - #444; font-weight : bold; text-decoration : none; text-transform : uppercase; }
				a:hover, a:active, a:focus { background-color : $c1; color : #FFF; text-decoration : none; }
			}

			ul.hmenu {
				  list-style: none;	
				  margin: 0 0 2em;
				  padding: 0;
				}

			ul.hmenu li {
				  display: inline;  
				}

			#tellnews {
				position: absolute;
				top: 38px;
				right: 32px;
				u {color: $c3; font-size: 14px; 
				}	
			}

			#search_bar {
				position: absolute;
				top: 64px;
				right: 32px;
				p { margin: 0;
					font: small-caps "Tahoma", sans-serif;
				}
			}
		} /* end #header */

		#footer_block {
			height: auto;
			width: 933px;
			padding: 6px 30px 6px 30px;
			margin-top: 16px;
		 	clear: both;
		 	color: $c4;
		 	background-color: $c3;
		        
		    /*border-top: 5px solid;
		    border-color: $c2;*/
		    font-size: small;
		    a.dark {
				color: $c6;
			}
  
		} /* end #footer */

		#notice {
		  color: #000 !important;
		  border: 2px solid red;
		  padding: 1em;
		  margin-bottom: 2em;
		  background-color: #f0f0f0;
		  font: bold smaller sans-serif;
		}

	} /* end #outer */


div.editor {
	width: 928px;  /* total: 1005px */
	padding: 32px;
    min-height: 560px;
	background-color: #EEE;
	p {font-size: 14px;
	}
	
	h4{ 
		margin: 0 0 10px 0; 
	}

	label {font-size: 14px;
	}
    
    a {font-size: 18px;
    }
}	



/* ================ PAGINATION =======================*/
.digg_pagination {
  background: none;
  cursor: default;
  margin-top: 5px;
  margin-left: 32px;
  /* self-clearing method: */ }

  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }

  .digg_pagination .disabled {
    color: #555;
    font-size: 11px;
    border: 1px solid $c2; }

  .digg_pagination .current {
    font-style: normal;
    font-size: 11px;
    font-weight: bold;
    background: $c3; /*#2e6ab1*/;
    color: white;
    border: 1px solid $c2; }

  .digg_pagination a {
    text-decoration: none;
    font-size: 11px;
    color: #222;
    border: 1px solid $c2; }

    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #FFF;
      background-color: $c2; 
      border-color: $c2; }

  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }

    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }

  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

  * html .digg_pagination {
    height: 1%; }

  *:first-child + html .digg_pagination {
    overflow: hidden; }

/* ================ end PAGINATION =======================*/
	nav.action {
		background-color: $c5; text-align: center; font-weight: bold; 
		a: 						   { color : #FFF; background-color: #AAC;  text-decoration : none; }
		a:visited 				   { color : #FFF; font-weight : bold;      text-decoration : none; text-transform : uppercase;}
		a:hover, a:active, a:focus { color : $c4; background-color : $c2; text-decoration : none; }
	}

	header.articles_head {
	  td {font-weight: bold;}
	}

 } /* end body */

/* END_HIGHLIGHT */
