// Place all the styles related to the Pdfpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* set 006 */
$c1: #84B9CB; /* water */
$c2: #28446F; /* darkblue */
$c3: #7F9AA2; /* gray */
$c4: #BAE0F9; /* sky */
$c5: #82C0E6; /* darks */

