// Place all the styles related to the Reclams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	
	nav.action {
		background-color: #AAC; text-align: center; font-weight: bold; 
		a: 						   { color : #FFF; background-color: #AAC;  text-decoration : none; }
		a:visited 				   { color : #FFF; font-weight : bold;      text-decoration : none; text-transform : uppercase;}
		a:hover, a:active, a:focus { color : #EEF; background-color : #668; text-decoration : none; }
	}